
/* UTILITY */


/* FORMATTAZIONE PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
}

* ul{
list-style-type: none;    
}

* li{

    list-style: none;
}


/* /* BOX-VARI  */

 /* -ATTENZIONE!!-
/* ALTEZZE FISSE    Togliere le altezze (e bordi) */

.box-100-prova{
    width: 100%;
    border: 2px solid black;
    height: 300px;
    margin-top: 30px;
}
.box-100{
    width:100%;
    border: 0.5px solid black ;
}



/* CENTRATURE-CONTAINER*/

.container-100{
    width: 100%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-60{
    width: 60%;
    margin: 0 auto;
   
}
.container-50{
    width: 50%;
    margin: 0 auto;
   
}
.container-40{
    width: 40%;
    margin: 0 auto;
    
   
}

/* POSITION */

.relative{
    position: relative;
    
}
.absolute{
    position: absolute;
}




/* FLEX */

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-jc-between{
    display: flex;
    justify-content:space-between;
}
.flex-jc-around{
    display: flex;
    justify-content: space-around;
}

/* COLONNE-FLEXATE */

.column-cnt-jc-between{
    display: flex;
    justify-content:space-between;
    
}

.column-cnt{
    display: flex;
    
}

.col-3{
    width:calc(100% / 3);
    border: 2px solid black;
    
}

/* COLONNE CON SPAZIO(GLUTTER) */
.column-cnt-glutter{
    display:flex;
    justify-content: space-between;

}
.col-glutter{
    width:32%;
    border: 2px solid black;
    height: 300px;
}

/* BOTTONI VARI */
.blue-btn{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    display:inline-block;
}

.white-btn{
    border:1px solid black;
    text-decoration: none;
    text-align:center;
    color: black;
    padding: 10px 15px;
    background-color: white;
    display: inline-block;
    

}

/* SEZIONE DI QUADRATI */

.box-col{
    display:flex;
    width:calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.square{
    width:50%;
    height: 50%;
   
    
}

/* DISPLAY */

.none{
    display: none;
}



/* INIZIO PROGETTO */

/* HEADER */



html{
    font-family: sans-serif;
}
nav{
    background-color: #0c84fd;
    align-items: center;
    padding: 20px 30px;
}
#nav-logo img{
    width: 70%;

}
#nav-burgher i{
    color: white;
    font-size: 1.5rem;
    
}
.nav-menu a{
    padding: 0px 20px;
    color:white;
}
#white-btn-smooth{
   background-color: white;
   color: black;
   padding: 10px 15px;
   border-radius: 20px;
}
/* MAIN */
/* SECTION1 */
 
.sec1{
    display: flex;
    flex-direction: column;
    padding-top: 30px ;
    justify-content: center;
    align-items: center;
}
.col{
    width: 90%;
    background-color:#b5dcff;
    border-radius: 20px;
    margin: 10px 0px; 
    padding: 0px;  
}
.col h2{
    color: #1d92fd;
    padding: 10px 0px;
}
.col1 img{
    width: 80%;  
}
.col1 p {
     line-height: 3rem;
}

.col1 li{
    padding: 30px 40px;  
}
#img-cnt{
    display: flex;
    justify-content: center;
}
.fa-apple-whole{
    padding-right: 15px;
    font-size: 0.8rem;
}
.blue-btn-smooth{
    background-color: #0c84fd;
    color: white;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 10px 30px;
}
.col2,.col3{
    text-align: center;
    padding: 30px;
}
.col2 i{
    font-size: 5rem;
    color: #0c84fd;
    
}
.col2 h2{
    
    padding: 30px;
}
.col2 p{
    
    line-height: 2rem;
    padding: 15px;
}
.col3 i{
    font-size: 5rem;
    color: #0c84fd;
}

.col3 h2{
    color: #0c84fd;
}

.col3 p{
    
    line-height: 2rem;
    padding: 15px;
}

/* SECTION2 */
.sec2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9792e4;
    padding: 20px;
}


#sec2-text{
    
    padding: 30px 0px;
    color: white;
}
.sec2  img{
    width: 100%;
}
#sec2-img1{
    color: white;
}
#sec2-img1 h2{
    padding: 20px 0px;
}
#sec2-img1 p{
    padding: 40px 0px;
}

#sec2-img2{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
#sec2-icon{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    left: 43%;
}
#sec2-img2 p{
    padding-bottom: 80px;
    font-style: oblique;
}
#sec2-img2 h3{
padding: 20px 0px;
}






/* MEDIA QUERY */

/* TABLET */

@media screen and ( min-width: 768px) {

    /* section1 */
    .sec1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 30px ;
        justify-content: center;
        align-items: flex-start;
        
        
    }
    .col1{
        flex-basis: 63.6%; 
        
        
     }
     .col2,.col3{
         flex-basis:30.3%;
         
            
     }
     .col1,.col2{
        margin: 10px; 
    }
    .col2 p{
        
        line-height: 2.5rem;
        
        
    }
    .col2{
        padding-bottom: 150px;
        margin: 10px;
    }
    .col3{
        margin:10px;
    }

    #img-cnt{
        display: flex;
        justify-content: start;
    }
    /* section2 */

    #sec2-icon{
        left: 46%;
    }

}

/* DESKTOP */

@media screen and ( min-width: 1024px) {
    
    
    /* header */
    
    #nav-burgher i{
        display: none;
    }
    .nav-menu{
        display:inline;
    }
    .container-100{
        width: 70%;
        margin: 0 auto;
        
    }
   /* main */
    
   /* section1 */
    .col2{
        padding-bottom: 0px;  
    }
    /* section2 */
    .sec2{
        flex-direction: row;
        margin: 0 auto;  
    }
    #sec2-img1 {
        width: 30%;
        margin-right:50px;  
    }

    #sec2-img1 h2{
        padding-top: 150px;
        padding-bottom: 30px;
        
        
    }
    #sec2-img2{
        width: 25%;
        margin-top: 150px;
    }



}


@media screen and ( min-width: 1280px){
    .col2{
        padding-bottom: 320px;
}
}







