
/* UTILITY */


/* FORMATTAZIONE PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
}

* ul{
list-style-type: none;    
}

* li{

    list-style: none;
}





/* CENTRATURE-CONTAINER*/

.container-100{
    width: 100%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}
.container-60{
    width: 60%;
    margin: 0 auto;
   
}
.container-50{
    width: 50%;
    margin: 0 auto;
   
}
.container-40{
    width: 40%;
    margin: 0 auto;
    
   
}


/* FLEX */

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-jc-between{
    display: flex;
    justify-content:space-between;
}
.flex-jc-around{
    display: flex;
    justify-content: space-around;
}



/* INIZIO PROGETTO */

/* HEADER */



html{
    font-family: sans-serif;
}
nav{
    background-color: #0c84fd;
    align-items: center;
    padding: 20px 30px;
}
#nav-logo img{
    width: 70%;

}
#nav-burgher i{
    color: white;
    font-size: 1.5rem;
    
}
.nav-menu a{
    padding: 0px 20px;
    color:white;
}
#white-btn-smooth{
   background-color: white;
   color: black;
   padding: 10px 15px;
   border-radius: 20px;
}
.nav-menu{
    display: none;
}
/* MAIN */
/* SECTION1 */
 
.sec1{
    display: flex;
    flex-direction: column;
    padding-top: 30px ;
    justify-content: center;
    align-items: center;
}
.col{
    width: 90%;
    background-color:#b5dcff;
    border-radius: 20px;
    margin: 10px 0px; 
    padding: 0px;  
}
.col h2{
    color: #1d92fd;
    
}
.col1 img{
    width: 80%;  
}
.col1 p {
     line-height: 1.5rem;
}

.col1 li{
    padding: 30px 40px;  
}
#img-cnt{
    display: flex;
    justify-content: center;
}
.fa-apple-whole{
    padding-right: 15px;
    font-size: 0.8rem;
}
.blue-btn-smooth{
    background-color: #0c84fd;
    color: white;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 10px 30px;
}

.col2,.col3{
    text-align: center;
    padding: 2rem;
}

.col2 i{
    font-size: 5rem;
    color: #0c84fd;
}

.col2 h2{
    padding: 0.5rem;
}

.col2 p{
    line-height: 2rem;
    padding: 0.5rem;
}

.col3 i{
    font-size: 4rem;
    color: #0c84fd;
}


.col3 p{
    line-height: 2rem;
    padding: 0.5rem;
}

/* SECTION2 */
.sec2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9792e4;
    padding: 20px;
}


#sec2-text{
    
    padding: 30px 0px;
    color: white;
}
.sec2  img{
    width: 100%;
}
#sec2-img1{
    color: white;
}
#sec2-img1 h2{
    padding: 20px 0px;
}
#sec2-img1 p{
    padding: 40px 0px;
}

#sec2-img2{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
#sec2-icon{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 10px 15px;
    position: absolute;
    bottom: 10px;
    left: 43%;
}
#sec2-img2 p{
    padding-bottom: 80px;
    font-style: oblique;
}
#sec2-img2 h3{
padding: 20px 0px;
}

/* SECTION3 */

#sec3-text{
    text-align: center;
    padding: 50px;
}
#sec3-text li{
    padding: 10px;
    line-height: 35px;
}
#sec3-text h2{
    color: #9792e4;
}
.card{
    background-color: #9792e4;
    color: white;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    margin: 15px;
    padding: 30px 20px;

}
.card p{
  line-height:1.5rem;
}
#signature{
    font-weight: bold;
    padding-top: 30px;
}


.card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECTION4 */

.sec4{
    background-color: #9792e4;  
}
.card-cnt{
    display: flex;
    flex-direction: column;
}

.sec4 h2{
    text-align: center;
    color: white;
    padding: 3rem 0;
    font-size: 2rem;
}
.card2{
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    
    
}
.card2 h2, .card2 h3{
    color: #9792e4;
    text-align: start;
    
}
.card2 h2{
    font-size: 3rem;
    padding: 0 0 ;
}
.card2 p{
    line-height: 1.5rem;
}
.card2 li{
    padding: 1rem;
}
.purple-btn{
    background-color: #9792e4;
    color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}

/* SECTION5 */

.sec5 img{
    width: 150px;
    height: 150px;
    
}
.sec5 h2,.sec5 p, .card-img {
    padding: 2rem ;
}
.sec5 p, .sec6 p{
    line-height: 2rem;
    
}
.sec5 h2{
    color: #9792e4;
    font-size: 2rem;
}
#linkedin{
    color: #9792e4;
    font-weight: bolder;
    font-size: 2rem;
}
.sec5 a {
    margin-left: 2rem;
}
.card-img{
    position: relative;
}
.fa-quote-left{
    position: absolute;
    left: 9.5rem;
    top: 3rem;
    font-size: 1.8rem;
    color: #9792e4;
}

/* SECTION6 */

.sec6{
    text-align: center;
    padding: 2rem;
    background-color: #9792e4;
    margin-top: 4rem;
}
.sec6 li{
    padding: 2rem 0;
    color: white;
}
.sec6 h3{
  font-size: 2rem;
  font-weight: bolder;
}
.sec6 h2{
 color: #fdc160;
 font-size: 4rem;

}
.white-btn{
    background-color: white;
    color:#9792e4;
    font-size: 0.8rem;
    border-radius: 25px;
    padding: 10px 30px;
}








/* MEDIA QUERY */

/* TABLET */

@media screen and ( min-width: 768px) {

    /* SECTION1 */
    .sec1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 30px ;
        justify-content: center;
        align-items: flex-start;
        
        
    }
    .col1{
        flex-basis: 63.6%; 
        
        
     }
     .col2,.col3{
         flex-basis:30.3%;
         
            
     }
     .col1,.col2{
        margin: 10px; 
    }
    .col2 p{
        
        line-height: 2.2rem; 
    }
    .col2 h2{
        padding-top: 0.8rem;
    }

    .col3{
        margin:10px;
    }

    #img-cnt{
        display: flex;
        justify-content: start;
    }
    /* SECTION2 */

    #sec2-icon{
        left: 46%;
    }

    /* SECTION3 */
    .card{
        flex-direction: row;
        text-align: start;
        padding-top: 70px;
        
    }
    .card p{
        line-height: 40px;
        padding-left: 20px;
    }
    #signature{
        padding-left: 30px;
    }
    
    /* SECTION4 */
    .card-cnt{
    
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        
    }
    .card2{
        flex-basis:calc(50% - 2rem);
        margin-bottom:10px;
    }

    .card2 h2{
        display: block;
    }
    
    /* SECTION5 */

    .sec5{
        display: flex;
    }
    .sec5 h2{
        font-size: 3rem;
    }
   
 

}

@media all and ( min-width: 768px) and (max-width:989px){
    .col2{
        padding-bottom: 10rem;
        
    }
}

/* DESKTOP */

@media screen and ( min-width: 1024px) {
    
    
    /* HEADER */
    
    #nav-burgher i{
        display: none;
    }
    .nav-menu{
        display:inline;
    }
    .container-100{
        width: 70%;
        margin: 0 auto;
        
    }
   /* MAIN */
    
   /* SECTION1 */

   .col1{
    display: flex;
    align-items: flex-end;
   }
   .col1 p{
    line-height: 2.5rem;
   }
   .col1 img{
    width: 100%;
    object-fit: contain;  
}
    .col2{
        padding: 18px;
        line-height: rem;
        
    }

    /* SECTION2 */
    .sec2{
        flex-direction: row;
        margin: 0 auto;  
    }
    #sec2-img1 {
        width: 30%;
        margin-right:50px;  
    }

    #sec2-img1 h2{
        padding-top: 150px;
        padding-bottom: 30px;
        
        
    }
    #sec2-img2{
        width: 25%;
        margin-top: 150px;
    }
/* SECTION4 */
     
    .card2{
    flex-basis:calc(33.33% - 2rem);
    margin-bottom:10px;
    }

    /* SECTION5 */








}










